{
  "check-coverage": true,
  "per-file": true,
  "lines": 85,
  "statements": 85,
  "functions": 85,
  "branches": 85,
  "include": [
    "lib/**/*.js",
    "bin/**/*.js"
  ],
  "reporter": [
    "lcov",
    "text",
    "text-summary"
  ],
  "report-dir": "./coverage"
}
